* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 100%;
    min-height: 100%;
    display: flex;
}

div {
    /*padding: 10px;*/
    flex-grow: 1;
    display: flex;
    border-style: inset;
    box-sizing: border-box;
}

h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40pt;
    display: none;
}
