* {
    margin: 0;
    padding: 0;
}

html {
}

body {
}

span,div {
    box-sizing: border-box;
    

    padding: 2px;
    margin-right: 4px;
    display: inline-block;
    
    /*
    background-color: rgba(0,0,0,0.1);
    */
    /*
    border-style: inset;
    */

    box-shadow: 2px 2px 3px black;
    /*
    outline: 1px solid black;
    box-shadow: 2px 2px 0px black;
    */
    
    /*
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
    */
}

@keyframes stretch {
  0% {
    transform: scale(.3);
  }
  100% {
    transform: scale(1.5);
  }
}

h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40pt;
    display: none;
}
